/*body#LoginForm{ background-image:url("background.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

#0018A8
body#LoginForm {background-image: url("background.jpg");



}

/*https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg
*/
/*.LoginForm {
  
  url("background.jpg");

}
*/

body {
    background-image: url("http://www.hudsoneq.com/investment-background.png");
    height: 100%;
    background-position: center;
    background-size: cover;

}

.container {
    width: 40%;
    /* padding-top: 20pt; */
    margin-right: auto;
    font-family: "Arial";
    /*background-image: url("http://www.hudsoneq.com/investment-background.png");*/
}

.form-heading {
    color: #fff;
    font-size: 25px;
}

.panel h2 {
    color: #444444;
    font-size: 25;
    margin: 0 3 0px 0;
}

.panel p {
    color: #777777;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;

    /*border: 1px solid #d4d4d4;
    */
    border-radius: 4px;
    font-size: 14px;
    font-family: "Arial";
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 100%;
    font-family: "Arial";
    padding: 40px 40px 40px 40px

}

.login-form .form-group {
    margin-bottom: 10px;
    font-family: "Arial";
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #ADD8E6;
    font-size: 14px;
    font-family: "Arial";
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #0018A8 none repeat scroll 0 0;
    border-color: #ADD8E6;
    font-size: 14px;
    font-family: "Arial";
    /*width: 100%;*/
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.forgot {
    text-align: center;
    margin-bottom: 30px;
}

.botto-text {
    color: #ADD8E6;
    font-size: 14px;
    font-family: "Arial";
    margin: auto;
}

.login-form .btn.btn-primary.reset {
    background: #ADD8E6 none repeat scroll 0 0;

    margin: auto;
    /*width: 50%;*/
    padding: 10px;
    font-style: bold;
}

.back {
    text-align: left;
    margin-top: 10px;
}

.back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}
