/*body#LoginForm{ background-image:url("background.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

#0018A8
body#LoginForm {background-image: url("background.jpg");



}

/*https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg
*/
/*.LoginForm {
  
  url("background.jpg");

}
*/

body{
    background-image: url("http://www.hudsoneq.com/investment-background.png");
    height: 100%;
    background-size: cover;
    background-position: center;
}



.container{
    width: 40%;
    margin-right: auto;
  font-family: "Arial";
}

.form-heading {
    color: #fff;
    font-size: 25px;
}

.panel h2 {
    color: #444444;
    font-size: 25;
    margin: 0 3 0px 0;
}

.panel p {
    color: #777777;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 24px;
}
  
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 4px;
  font-size: 14px;
  font-family: "Arial";
  height: 50px;
  line-height: 50px;
}

.login-form .form-group {
    margin-bottom: 10px;
    font-family: "Arial";
    text-align: center;
}

.main-div {
    background: #ffffff;
  border-radius: 2px;
  margin: 10px auto 30px;
    max-width: 100%;
  font-family: "Arial";
    padding: 40px 40px 40px 40px

}

.forgot a {
  color: #ADD8E6;
  font-size: 14px;
  font-family: "Arial";
  text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;

}

table {
    margin-top: 30px;
    font-size: 11px;
  font-family: "Arial";
    border: 1px solid #ddd;
    border-collapse: collapse;
  width: 100%;
}

th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}